<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head data-th-replace="~{fragments/adminBasic :: head}">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside data-th-replace="~{fragments/adminBasic :: sidebar}" ></aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header data-th-replace="~{fragments/adminBasic :: header}"></header>
    <!--  Header End -->
    <div class="container-fluid admin">

      <h5 class="card-title fw-semibold mb-4">ADMIN PANEL</h5>

      <div class="row mt-4">

        <div class="col-md-4">
          <!--                first box-->
          <div class="card">
            <div class="card-body text-center">
              <div class="container" th:href="@{/sec/user}">
                <img class="img-fluid rounded-circle" style="max-width: 125px" src="../assets/images/profile/users.png" alt="users_icon">
              </div>
              <h1>123</h1>
              <h1 class="text-muted">USERS</h1>
            </div>
          </div>
        </div>

        <!--              second box-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid rounded-circle" style="max-width: 125px" src="../assets/images/profile/list.png" alt="users_icon">

              <h1>234</h1>
              <h1 class="text-muted">CATEGORIES</h1>
            </div>
          </div>
        </div>

        <!--              third box-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <img class="img-fluid rounded-circle" style="max-width: 125px" src="../assets/images/profile/products.png" alt="users_icon">

              <h1>76</h1>
              <h1 class="text-muted">PRODUCTS</h1>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-3">

        <div class="col-md-6">
          <!--                first box-->
          <div class="card" data-bs-toggle="modal" data-bs-target="#add-category-modal">
            <div class="card-body text-center">
              <div class="container">
                <img class="img-fluid rounded-circle" style="max-width: 125px" src="../assets/images/profile/keys.png" alt="users_icon">
              </div>
              <p class="mt-2">Click here to add category</p>
              <h1 class="text-muted">ADD CATEGORY</h1>
            </div>
          </div>
        </div>

        <!--              second box-->
        <div class="col-md-6">
          <div class="card" data-bs-toggle="modal" data-bs-target="#add-product-modal">
            <div class="card-body text-center">
              <img class="img-fluid rounded-circle" style="max-width: 125px" src="../assets/images/profile/plus.png" alt="users_icon">

              <p class="mt-2">Click here to add products</p>
              <h1 class="text-muted">ADD PRODUCTS</h1>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!--Add category modal-->
    <!-- Modal -->
    <div class="modal" id="add-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal"
                  method="post"
                  role="form"
                  th:action="@{/addCategory}"
            >

              <div th:if="${param.success}">
                <div class="alert alert-info">
                  Registration successful !!!
                </div>
              </div>

              <input type="hidden" class="form-control" id="exampleInputtext" name="operation" aria-describedby="textHelp" value="addcategory">
              <div class="mb-3">
                <label class="form-label" for="exampleInputtext1">Category Name</label>
                <input class="form-control" id="exampleInputtext1" name="categoryName" type="text" aria-describedby="textHelp" required>
                <!--                  <p class="text-danger" th:errors="*{categoryName}"-->
                <!--                     th:if="${#fields.hasErrors('categoryName')}"></p>-->
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleInputtext1">Product Description</label>
                <textarea style="height:350px" class="form-control" id="exampleInputtext2" name="categoryDescription" type="text" aria-describedby="textHelp" required></textarea>
                <!--                  <p class="text-danger" th:errors="*{categoryDescription}"-->
                <!--                     th:if="${#fields.hasErrors('categoryDescription')}"></p>-->
              </div>
              <div class="container text-center">
                <button type="submit"  class="btn btn-primary py-8 fs-4 mb-4 rounded-2">Add category</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
    <!--      End of category Modal-->



    <!--Add product modal-->

    <!-- Modal -->
    <div class="modal" id="add-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel3">Add Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal"
                  method="post"
                  role="form"
                  th:action="@{/authentication-login}"
            >
              <div th:if="${param.success}">
                <div class="alert alert-info">
                  Registration successful !!!
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleInputtext1">Category Name</label>
                <input class="form-control" id="exampleInputtext3" name="categoryName" type="text" aria-describedby="textHelp" required>
                <!--                                    <p class="text-danger" th:errors="*{categoryName}"-->
                <!--                                       th:if="${#fields.hasErrors('categoryName')}"></p>-->
              </div>

              <div class="mb-3">
                <label class="form-label" for="exampleInputtext1">Product Description</label>
                <textarea style="height:350px" class="form-control" id="exampleInputtext5" name="categoryDescription" type="text" aria-describedby="textHelp" required></textarea>
                <!--                                    <p class="text-danger" th:errors="*{categoryDescription}"-->
                <!--                                       th:if="${#fields.hasErrors('categoryDescription')}"></p>-->
              </div>


            </form>
          </div>
          <div class="modal-footer ">
            <div class="container text-center">
              <button type="submit"  class="btn btn-primary py-8 fs-4 mb-4 rounded-2">Add category</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--      End of product Modal-->

  </div>
</div>


<div data-th-replace="~{fragments/adminBasic :: script}"></div>
</body>

</html>