<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/adminBasic::head}">
</head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-12"> <!-- Updated class to col-xxl-12 -->
          <div class="card mb-100">
            <div class="card-body">
              <a th:href="@{/index}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
              </a>
              <p class="text-center">USER DETAILS OF Bee&Baa</p>
              <h1>User List</h1>
              <div class="table-responsive"> <!-- Added table-responsive class -->
                <table style="width: 100%; text-align: center;">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Block</th>
                    <th>Delete</th>
                    <!-- Add more columns as needed -->
                  </tr>
                  </thead>
                  <tbody>
                  <!-- Use Thymeleaf to iterate through the list of users and populate the table rows -->
                  <tr th:each="user : ${users}" style="height: 80px;">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td ><i class="ti ti-edit" data-bs-toggle="modal" data-bs-target="#update-user-modal"></i></td>
                    <td>
                      <a th:href="@{'/sec/users/block/' + ${user.email}}">
                        <i th:class="${user.enabled} ? 'ti ti-lock-open' : 'ti ti-lock'"></i>
                      </a>
                    </td>
                    <td><a th:href="@{'/sec/users/delete/' + ${user.id}}"><i class="ti ti-trash"></i></a></td>


                    <!-- Add more columns as needed -->
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--USER UPDATE modal-->
<!-- Modal -->
<div class="modal" id="update-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UPDATE USER</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table style="width: 100%; text-align: center;">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <!-- Add more columns as needed -->
          </tr>
          </thead>
          <tbody>
          <!-- Use Thymeleaf to iterate through the list of users and populate the table rows -->
          <tr th:each="user : ${users}" style="height: 80px;">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>

            <!-- Add more columns as needed -->
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<!--      End of USER UPDATE Modal-->

<div data-th-replace="~{fragments/adminBasic :: script}"></div>
</body>
</html>
