<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/adminBasic::head}">>

</head>
<style>
#sessionMessage {
  color: #D21312;
  background: #ECF8F9;
}
</style>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="Admin/index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">Bee&Baa</p>
                <div id="sessionMessage" th:if="${session.lockedExceptionMessage}">
                  <p class="text-danger" th:text="${session.lockedExceptionMessage}"></p>
                </div>


                <div th:unless="${session.lockedExceptionMessage}">
                  <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid Email or Password !!!</div>
                  </div>
                </div>

                <div th:if="${param.logout}">
                  <div class="alert alert-success">You have been logged out !!!</div>
                </div>
                <form class="form-horizontal"
                      method="post"
                      role="form"
                      th:action="@{/authentication-login}"
                      >
                  <div class="mb-3">

                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Remeber this Device
                      </label>
                    </div>
                    <a class="text-primary fw-bold" href="Admin/index.html">Forgot Password ?</a>
                  </div>
                  <button type="submit"  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                  <a th:href="@{/authentication-Otp-login}" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Login with OTP</a>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Bee&Baa?</p>
                    <a class="text-primary fw-bold ms-2" href="authentication-register.html">Create an account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div data-th-replace="~{fragments/adminBasic :: script}"></div>
</body>

</html>