<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div
          class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a href="Admin/index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
              </a>
              <p class="text-center">Register to Bee&Baa</p>
              <form
                      method="post"
                      role="form"
                      th:action="@{/auth/registration}"
                      th:object="${user}">

                <div th:if="${param.success}">
                  <div class="alert alert-info">
                    Registration successful !!!
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputtext1">Name</label>
                  <input class="form-control" id="exampleInputtext1" name="name" type="text" aria-describedby="textHelp">
                  <p class="text-danger" th:errors="*{name}"
                     th:if="${#fields.hasErrors('name')}"></p>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="exampleInputEmail1">Email</label>
                  <input class="form-control" id="exampleInputEmail1" name="email" type="email" aria-describedby="emailHelp" >
                  <p class="text-danger" th:errors="*{email}"
                     th:if="${#fields.hasErrors('email')}"></p>
                </div>

                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                  <p class="text-danger" th:errors="*{password}"
                     th:if="${#fields.hasErrors('password')}"></p>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>


                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                  <a class="text-primary fw-bold ms-2" href="authentication-login.html">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>