<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{fragments/basic::head}">
</head>
<body>

<!-- Page Preloder -->
<div data-th-replace="~{fragments/basic::preload}"></div>


<!-- Offcanvas Menu Begin -->
<div data-th-replace="~{fragments/basic::offcanvas}"></div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header data-th-replace="~{fragments/basic::header}">
</header>
<!--End of Header Section  -->

<!-- Categories Section Begin -->
<section data-th-replace="~{fragments/basic::category}"></section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section data-th-replace="~{fragments/basic::product}"></section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section data-th-replace="~{fragments/basic::banner}"> </section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section data-th-replace="~{fragments/basic::trend}"></section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section data-th-replace="~{fragments/basic::discount}"></section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section data-th-replace="~{fragments/basic::service}"></section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div data-th-replace="~{fragments/basic::instagram}" ></div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer data-th-replace="~{fragments/basic::footer}" ></footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div data-th-replace="~{fragments/basic::search}" ></div>
<!-- Search End -->


<!-- Js Plugins -->
<div data-th-replace="~{fragments/basic::script}"> </div>

</body>

</html>